body
{
    font-family: Arial;
    font-size: 18px;
    padding: 20px;
}

h2 {font-weight: normal;}

.input
{
    font-size: 16px;
    width: 55px;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
}

#solution
{
    width: 80px;
    margin-left: 20px;
}

#result
{
    padding-top: 20px;
}

.fraction {text-align: center; position: relative; top: -10px; padding: 0 5px; float: left;}
.fraction .numerator {border-bottom:1px solid #000;}
.answer span {float: left;}